*,
*::after,
*::before {
    margin: 0%;
    padding: 0%;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #0f172a;
    margin: 0%;
    /* overflow-x:hidden ; */
}

.heading {
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 30px;
    margin-top: 50px;
    color: #c7d2fe;

}

header h1 {
    padding-left: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c7d2fe;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #0f172a;
    display: flex;
    border-bottom: 2px solid #c7d2fe;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding-top: 15px;

}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 20px;
    margin-right: 10px;
}

header nav a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #c7d2fe;
    padding: 20px;
}

#content {
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    margin: 40px 0px 40px 0px;
    ;
}

.infor {
    height: 380px;
    width: 600px;
    padding: 30px;
    /* border: 2px solid #c7d2fe; */
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c2d2fe;

}

.infor .kriothech {
    color: #c2d2fe;
    font-size: 3rem;
    margin: 2% 0 1%;
}

.infor button {
    height: 50px;
    width: 120px;
    border-radius: 8px;
    background: #0f172a;
    color: #c7d2fe;
    border: 2px solid #c2d2fe;
    font-size: 1rem;
    margin-top: 20px;
    box-shadow: 2px 1px 17px 0px gray;
    animation: btnshadow 1s ease infinite;
}

.infor .intro {
    color: #c7d2fe;
    font-size: 20px;
    margin-top: 15px;
}

.images {
    height: 350px;
    width: 380px;
    border: 3px solid #c7d2fe;
    margin: 20px 40px 0 0;

}

.boxes {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    column-gap: 30px;

}

.boxes .box1 {
    height: 300px;
    width: 250px;
    border: 3px solid #c7d2fe;
    border-radius: 8px;
    box-shadow: 0px -1px 12px 4px #454444;


}

@keyframes btnshadow {
    0% {
        box-shadow: 2px 1px 15px -2px rgb(211, 204, 204);
    }

    100% {
        box-shadow: 2px 1px 17px 3px gray;
    }



}